.App {
  text-align: center;
}

p {
  color: black;
}

.navbar {
  background-color: #FFC646;
}

.opacity60 {
  opacity: .60;
}

.home-image-size {
  max-width: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.h1 {
  font-family: Helvetica, Arial, sans-serif;
}

.p {
  font-family: Helvetica, Arial, sans-serif;
}

.height {
  height: 100%;
}

.square-image {
  padding-bottom: 100%;
  overflow: hidden; 
  position: relative;
}

.square-image2 {
  overflow: hidden; 
  position: relative;
}

.square-image img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;

  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.img-responsive {
  width: 100%;
}