* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.navbar {
  background-color: #FFC646;
}

.navbar-nav > li {
  margin-right: 20px;
}

.showcase-img {
  overflow: hidden; 
  position: relative;
}

.thumbnail-img {
  overflow: hidden; 
  position: relative;
  padding-bottom: 100%;
}

.thumbnail-img img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;

  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.img-responsive {
  width: 100%;
}

.height {
  height: 100%;
}

.opacity60 {
  opacity: .60;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}